<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>
    <extension
         point="org.eclipse.ui.intro">
      <!-- bind the universal intro implementation to our product id --> 
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="de.guite.modulestudio.branding.most">
      </introProductBinding>
<!--
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="de.guite.modulestudio.intro">
      </intro>
-->
    </extension>

    <!-- add welcome customization preference page
        - allows users to select the presentation theme
        - the original choice is provided by the theme preference in the plugin_customization.ini file
        - in addition, users can choose from the list of available root pages
        - checking the root page causes the related tab to appear at the top of the dialog

        - when saved, this preference page will prefix the variables with the product id so that it does
        - not interfere with the settings made for other products in the same workbench
        - Alternatively, selecting a corresponding checkbox will not prefix the variables,
        - making the stored settings visible to all the products. 
   
    -->
    <extension point="org.eclipse.ui.preferencePages">
        <page category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.intro.universal.ExtensionFactory:welcomeCustomization"
            id="de.guite.modulestudio.intro.introCustomization"
            name="%introCustomizationPreference.name">
<!--            <keywordReference id="de.guite.modulestudio.welcome" />-->
        </page>
   </extension>

    <!-- welcome page sections -->
    <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig" 
            content="$nl$/intro/overviewExtensionContent.xml"/>  
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/firststepsExtensionContent.xml"/>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/tutorialsExtensionContent.xml"/>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/samplesExtensionContent.xml"/>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/samplesExtensionContent2.xml"/>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/whatsnewExtensionContent.xml"/> 
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/migrateExtensionContent.xml"/>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/webresourcesExtensionContent.xml"/>
    </extension>

</plugin>
