
/** global styles */
h1, h2, h3, h4, h5, h6 {
color: #222222
}

a {
color: #ff8700;
text-decoration: none;
}

a:hover, a:active, a:focus {
color: #ff6600;
text-decoration: underline;
}

table {
border-collapse: collapse;
}
table th, table td {
border: 1px solid #666666;
}



/** footer page */
table#quicklinks tbody tr td {
width: 24%;
border: none;
}
table#quicklinks tbody tr td.logo {
width: 270px;
}
table#quicklinks tbody tr td h3 {
margin-top: 8px;
font-size: 10px;
font-weight: 700;
color: #222222;
}
table#quicklinks tbody tr td ul li,
table#quicklinks tbody tr td ul li a {
font-size: 9px;
color: #ff8700;
text-decoration: none;
}
table#quicklinks tbody tr td ul li a:hover,
table#quicklinks tbody tr td ul li a:focus,
table#quicklinks tbody tr td ul li a:active {
color: #ff6600;
text-decoration: underline;
}
