<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>
<plugin>
    <!-- enable help -->
    <extension point="org.eclipse.help.toc">
       <toc file="contents/toc.xml" primary="true" />
    </extension>
    <!-- enable help index -->
    <extension point="org.eclipse.help.index">
       <index file="index.xml" />
    </extension>
    <!-- enable search functionality -->
<!--
    <extension point="org.eclipse.help.base.luceneSearchParticipants">
        <binding participantId="org.eclipse.help.base.xhtml" />
    </extension>
-->
    <!-- enable dynamic xhtml services -->
    <extension point="org.eclipse.help.contentProducer">
        <binding producerId="org.eclipse.help.dynamic" />
    </extension>
</plugin>
